<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/antoine-barres.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="text-center" style="color: #C3C2B8;">Visión</h1>
        <br />
        <div class="title-brand text-justify">
          <p class="font-weight-bold">
            El Taekwondo, es un arte marcial tradicional de origen coreano con
            una antigüedad de más de 5 mil años. Es el arte marcial con más
            practicantes en el mundo, también es un deporte olímpico. La palabra
            significa.
          </p>

          <h6 class="text-center font-weight-bold">
            Los principios filosóficos antes mencionados son:
          </h6>
          <div class="d-flex justify-content-center">
            <ul class="font-weight-bold">
              <li>Cortesía</li>
              <li>Auto control</li>
              <li>Espíritu indómito</li>
            </ul>
          </div>
          <p class="font-weight-bold">
            La Escuela Taekwondo Spirit busca desarrollar a sus alumnos a través
            del método de educación Taekwondo, siguiendo los 5 principios
            filosóficos de este arte no solo en la práctica marcial sino también
            para que los alumnos puedan llevar estos principios a su vida
            cotidiana y familiar.
          </p>
          <p class="font-weight-bold">
            El sistema de graduación es una forma del avance a través de
            evaluaciones de la práctica de lo aprendido en clases.
          </p>
          <p class="font-weight-bold">
            Cada alumno tiene diferentes tiempos para aprender y desarrollar su
            práctica personal. De esto va depender su avance técnico y de
            graduación marcial. Todos los alumnos se enseñan el programa técnico
            de la Escuela el cual viene dado por los requisitos nacionales e
            internacionales para graduación. El alumno es siempre apoyado en el
            proceso. Si es desea enfatizar su práctica también en competición o
            tiene ganas de formarse como un futuro instructor también se enseña
            y apoya para lograr sus objetivos.
          </p>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="moving-clouds"
      style="background-image: url('assets/img/clouds.png'); "
    ></div>
  </div>
</div>
