<!--<div class="wrapper">-->
<div
  class="page-header section-dark"
  style="background-image: url('assets/img/antoine-barres.jpg')"
>
  <br />
  <br />
  <br />
  <br />
  <!--<div class="content-center"> -->
  <div class="container">
    <h3 class="text-center" style="color: #C3C2B8;">
      Fotos y Videos de Nuestra Escuela
    </h3>
    <h1 class="text-center font-weight-light" style="color: #C3C2B8;">
      Galeria de Fotos Y Videos
    </h1>
    <br />
    <div class="row">
      <br />

      <!--<div class="title-brand text-justify">-->

      <!--galeria OLD-->
      <!--<ngx-gallery
            [options]="galleryOptions"
            [images]="galleryImages"
          ></ngx-gallery>-->
      <!-- <gallery
      playerInterval="3000"
      id="mixedExample"
      autoPlay="true"
      thumbPosition="left"
      [thumbTemplate]="thumbTemplate"
      [itemTemplate]="itemTemplate"
    ></gallery>-->

      <div class="col-md-6">
        <gallery id="videoExample" thumbPosition="left"></gallery>
      </div>

      <div class="col-md-6">
        <gallery
          playerInterval="3000"
          id="mixedExample"
          autoPlay="true"
          thumbPosition="left"
        ></gallery>
      </div>

      <!-- 

        
      <div class="col-md-6">
        <gallery
          playerInterval="3000"
          id="mixedExample"
          autoPlay="true"
          thumbPosition="left"
          [thumbTemplate]="thumbTemplate"
          [itemTemplate]="itemTemplate"
        ></gallery>
      </div>
      -->
    </div>
    <!--</div>-->
  </div>
  <!--</div>-->
</div>
<!--</div>-->
