.backsite{
    background-image: url('assets/img/antoine-barres.jpg');   
   height: 800px!important;
 }   


 .fa:-webkit-full-screen {
  display: none !important;
}
.fa:-moz-full-screen {
  display: none !important;
}
.fa:-ms-fullscreen {
  display: none !important;
}
.fa:fullscreen {
  display: none !important;
}
 //ngx-gallery-icon-content ngx-gallery-close fa fa-times-circle
 