<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/antoine-barres.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="text-center" style="color: #C3C2B8;">
          Nuestra Escuela y Maestro
        </h1>
        <br />
        <div class="title-brand text-justify">
          <p class="font-weight-bold">
            La Escuela Tekwondo Spirit está dirigida por el maestro Guillermo
            Farías cinturón negro 4 ° Dan Kukkiwon casa mundial del Taekwondo en
            corea del sur y Por Federación Chilena Nacional deportiva de
            Taekwondo. Su experiencia en las artes marciales con más de 22 años
            de práctica constante.
          </p>
          <br />
          <p class="font-weight-bold">
            El maestro también tiene grados y es practicante hasta la actualidad
            en otros artes marciales como Hapkido y Kendo, con la enseñanza de
            grandes maestros de origen oriental de reconocida trayectoria siendo
            alumno directo de ellos.
          </p>
          <br />
          <p class="font-weight-bold">
            El sistema de graduación es una forma del avance a través de
            evaluaciones de la práctica de lo aprendido en clases.
          </p>

          <h6 class="text-center font-weight-bold">
            Dentro de sus curriculum marcial:
          </h6>
          <div class="d-flex justify-content-center">
            <ul class="font-weight-bold">
              <li>Director y Maestro Escuela Taekwondo Spirit.</li>
              <li>Arbitro Nacional de Poomsae (formas)</li>
              <li>
                Arbitro nacional de kyrugui ( combate deportivo olímpico )
              </li>
              <li>
                Maestro Federado por federación Nacional Deportiva Chilena de
                Taekwondo WT.
              </li>
              <li>Técnico Deportivo por IND y comité olímpico de chile.</li>
              <li>Asesor Técnico.</li>
              <li>Ex seleccionado universitario y regional de Tekwondo</li>
              <li>Competidor de Poomsae</li>
            </ul>
          </div>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="moving-clouds"
      style="background-image: url('assets/img/clouds.png'); "
    ></div>
  </div>
</div>
