<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/antoine-barres.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1 class="text-center font-weight-light" style="color: #C3C2B8;">
          Introducción
        </h1>
        <br />
        <div class="title-brand text-justify">
          <p class="font-weight-bold">
            El Taekwondo, es un arte marcial tradicional de origen coreano con
            una antigüedad de más de 5 mil años. Es el arte marcial con más
            practicantes en el mundo, también es un deporte olímpico. La palabra
            significa.
          </p>
          <div class="d-flex justify-content-center">
            <ul class="font-weight-bold">
              <li>Tae = Pie</li>
              <li>Kwon = Puño</li>
              <li>Do = Camino</li>
            </ul>
          </div>
          <p class="font-weight-bold">
            El Taekwondo es también un método de educación por el uso no solo de
            principios físicos para su práctica sino también filosóficos. Unión
            mente y cuerpo para mejorar nuestros potencial como personas. Pueden
            practicarlos sin distinción de género y edad, niños, jóvenes,
            adultos y personas mayores.
          </p>
          <p class="font-weight-bold">
            La práctica ayuda al autorrealización de objetivos específicos
            personales de quienes los practican Abarcando un abanico de
            posibilidades, como seguir programa de grados marciales, defensa
            personal, taekwondo familia, taekwondo deportivo, taekwondo formas,
            taekwondo técnicas de rompimientos, taekwondo exhibición, docencia
            de Taekwondo. Nuestra escuela es de Taekwondo Tradicional e integral
            el alumno abarca todas las áreas de este arte marcial. Tenemos una
            línea directa de este arte marcial desde su raíz corea del sur a
            través de nuestro maestro que es alumno de maestro coreano Sr. KIM.
          </p>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="moving-clouds"
      style="background-image: url('assets/img/clouds.png'); "
    ></div>
  </div>
</div>
