<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/antoine-barres.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container ">
        <h1 class="text-center font-weight-light" style="color: #C3C2B8;">
          Graduaciones
        </h1>
        <br />
        <div class="title-brand text-justify">
          <p class="font-weight-bold text-center">
            El sistema de graduaciones de los alumnos de la Escuela Taekwondo
            Spirit .
          </p>

          <p class="font-weight-bold">
            Se rige por graduación internacional para cinturones negros Dan
            Kukkiwon (única entidad reconocida por republica de corea del sur
            valido en todo el mundo) Desde 1° Dan a 9° Dan
          </p>
          <h4 class="text-center font-weight-bold">Grados de color</h4>
          <p class="font-weight-bold">
            Esta se divide en 10 niveles y se entrega certificación de
            Federación Nacional Deportiva Chilena de Taekwondo WT.
          </p>
          <br />
          <img
            src="assets/img/spirit/gups2.jpg"
            class="rounded mx-auto d-block"
            alt="..."
          />
          <br />
          <h6 class="font-weight-bold">
            Existe una nivelación de acuerdo al grado y dominio del arte marcial
            y trayectoria en la Escuela. Se divide en 4 niveles
          </h6>
          <br />
          <div class="d-flex justify-content-center">
            <ul class="font-weight-bold">
              <li>Alumno cinturón de colores GUP 10 grados</li>
              <li>Cinturón Negro Dan desde primer Dan</li>
              <li>Instructor ayudante mínimo 1° Dan,</li>
              <li>Instructor desde 2 y 3 Dan.</li>
            </ul>
          </div>

          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="moving-clouds"
      style="background-image: url('assets/img/clouds.png'); "
    ></div>
  </div>
</div>
